.header {
    background-color: black; 
    color: white;
    padding: 20px;
    text-align: left; 
    font-size: 24px; 
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 999; 
  }
  
  
.subheader {
    font-size: 18px; /* Set font size */
    margin-top: 10px; /* Add some space at the top */
}
  