/* homepage.css */


body, html {
  margin: 0;
  padding: 0;
  background-color: black; /* Light blue background color */
}

.content {
  margin-top: 300px; /* Adjust as needed to create space below the header */
}

.homepage {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black; /* Light blue background color */
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  textarea {
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    text-align: left; /* Ensure text alignment is left */
    color: black; /* Set text color to black */
  }
  
  textarea::placeholder {
    color: rgb(107, 107, 107); /* Set placeholder color to black */
  }
  
  textarea:focus {
    border-color: #007bff;
  }
  
  button {
    background-color: rgba(90, 127, 187, 0.392); /* Light grey button color */
    color: white;
    margin: 10 auto;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #b0b0b0; /* Darker grey on hover */
  }
  
  .citations {
    margin-top: 20px;
  }
  
  .citations h2 {
    color: white; /* Darken the color of the heading */
  }
  
  .citations ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
  }
  
  .citations li {
    margin-bottom: 5px; /* Add some space between citations */
    color: white; /* Set text color to black */
  }

  .citations ol {
    padding-left: 0; /* Remove default padding */
  }
  
  .citations ol li {
    margin-bottom: 5px; /* Add some space between citations */
    list-style-type: decimal; /* Use decimal numbers for list items */
  }
  
  .citations ol li::before {
    content: counter(list-item) ". "; /* Add a period after the number */
    margin-right: 5px; /* Adjust spacing between number and text */
  }
  
  
  
  /* Add animation for logo spinning */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .logo:hover {
    animation: spin 1s linear infinite;
  }
  